<p id="notice"><%= notice %></p>
<div class="page-header">
   <h3> Edit </h3>
</div>
<dl class="dl-horizontal">
<p>
  <strong>Research method:</strong>
  <%= @analyst.research_method %>
</p>

<p>
  <strong>reseach participants:</strong>
  <%= @analyst.reseach_participants %>
</p>

<p>
  <strong>context:</strong>
  <%= @analyst.context %>
</p>
</dl>

<%= link_to 'Edit', edit_analyst_path(@analyst) %> |
<%= link_to 'Back', analysts_path %>
<!--%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_paperpost_path(@analyst), :class => 'btn btn-default' %-->
<!--%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              paperpost_path(@analyst),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %-->
