<p id="notice"><%= notice %></p>
 <td><%=@user.id %></td>
        <td><%=@user.user_role %></td>
        <td><%=@user.user_status %></td>
        <td><%=@user.user_name %></td>
        <td><%=@user.user_password_hash %></td>
        <td><%=@user.user_fullname %></td>
        <td><%=@user.user_email %></td>
        <td><%=@user.user_gender %></td>
        <td><%=@user.user_age %></td>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
