
<%= form_for @paperpost, :html => { :class => "form-horizontal paperpost" } do |f| %>

 <head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
/*$(document).ready(function(){
    $('#purpose').on('change', function() {
      if ( this.value == '1')
      //.....................^.......
      {
        $("#business").show();
      }
      else
      {
        $("#business").hide();
      }
    });
}); */
$(document).ready(function(){
    $('.selectpicker').on('change', function() {
      if ( this.value == 'Articles')
      //.....................^.......
      {
        $("#business").show();
      }
      else
      {
        $("#business").hide();
      }
    });
}); 
</script>
 </head>
  <% if @paperpost.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@paperpost.errors.count, "error") %> prohibited this paperpost from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @paperpost.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :username, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :username, :class => 'form-control' %>
    </div>
    <%=f.error_span(:username) %>
  </div>
  <!--<div class="form-group">
   <!--<%= f.label :articlecategory, :class => 'control-label col-lg-2' %> -->
    <!--<div class="control">
      <%= f.select(:articlecategory, options_for_select([['JOURNAL','JOURNAL'],['BOOK','BOOK']]),{include_blank: true}) %>
    </div>
    <%=f.error_span(:articlecategory) %>
  </div>-->
  
  
  <!-- Trying dynamically -->
  <div class="form-group">
  <%= f.label :articlecategory, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
  <%= f.select :articlecategory, [[ "Books","Books"], ["Articles", "Articles"], ["Magazines", "Magazines"]], { label: "Choose your Journal Category:" }, { class: "selectpicker" } %>
        </div>
  </div>
  
  <!--<div class="form-group">
    <%= f.label :articlecategory, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
        <div class="dropdown">
          <select id='purpose'>
    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Journal Category
    <option value="0">Books</option>
<option value="1">Articles</option>
<option value="2">Magazines</option>
</select>
    
        </div>
  </div>
  </div> -->
  <div class="form-group">
    <%= f.label :author, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :author, :class => 'form-control' %>
    </div>
    <%=f.error_span(:author) %>
  </div>
  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%=f.error_span(:title) %>
  </div>
  
  <div style='display:none;' id='business'>
     <div class="form-group">
    <%= f.label :journalname, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :journalname, :class => 'form-control' %>
    </div>
    <%=f.error_span(:journalname) %>
  </div>
  </div>
  
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%=f.error_span(:description) %>
  </div>
  <div class="form-group">
    <%= f.label :publishername, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :publishername, :class => 'form-control' %>
    </div>
    <%=f.error_span(:publishername) %>
  </div>
  <div class="form-group">
    <%= f.label :pages, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :pages, :class => 'form-control' %>
    </div>
    <%=f.error_span(:pages) %>
  </div>
  <div class="form-group">
    <%= f.label :volume, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :volume, :class => 'form-control' %>
    </div>
    <%=f.error_span(:volume) %>
  </div>
  
  <div class="form-group">
    <%= f.label :publish_date, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :publish_date, "data-provide" => 'datepicker' %>
    </div>
    <%=f.error_span(:publish_date) %>
  </div>
  <div class="form-group">
    <%= f.label :submitted_date ,:class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :submitted_date, "data-provide" => 'datepicker' %>
    </div>
    <%=f.error_span(:submitted_date) %>
  </div>
  <div class="form-group">
    <%= f.label :status_type, :class=> 'control-label col-lg-2' %>
    <div class="col-lg-10">
    <div class='control'>
      <%= f.select(:status_type, options_for_select([['PENDING','PENDING']]) , {include_blank: true}) %>
    </div>
     <%=f.error_span(:status_type) %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                paperposts_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
