<h1>Editing Methodology</h1>

<%= render 'form', methodology: @methodology %>
<%= @methodology.id%>
<%= @methodology.methodology_name%>
<%= @methodology.description%>
<%= link_to 'Show', @methodology %> |
<%= link_to 'Back', methodologies_path %>
