<h1>New Methodology</h1>

<%= render 'form', methodology: @methodology %>
<%= @methodology.id%>
<%= @methodology.methodology_name%>
<%= @methodology.description%>
<%= link_to 'Back', methodologies_path %>
