<p id="notice"><%= notice %></p>

<h1>History of search query</h1>


      <table class="table table-striped">
          <thead>
              <tr>
        <th>Title</th>
        
       
        <th>Authors </th>
        <th>Metrix </th>
        <th>Paper Status </th>
        <th>Research Method</th>
        <th>Participant</th>
        <th>Min year</th>
        <th>Max year</th>
        </tr></thead>
    <tbody>
    <% @sousuo1s.each do |a| %>
   <tr>
       
        <td><%=a.title %>&nbsp;&nbsp;<%=a.title1 %>&nbsp;&nbsp;<%=a.title2 %></td>
        
        
       
        
        <td>|<%=a.authors %>&nbsp;&nbsp;<%=a.authors1 %>&nbsp;&nbsp;<%=a.authors2 %></td>
       
       
        <td>|<%=a.metrix %>&nbsp;&nbsp;<%=a.metrix1 %>&nbsp;&nbsp;<%=a.metrix2 %></td>
        
        <td>|<%=a.status %>&nbsp;&nbsp;<%=a.status1 %>&nbsp;&nbsp; <%=a.status2 %></td>
        
        <td>|<%=a.research_method %>&nbsp;&nbsp;<%=a.research_method1 %>&nbsp;&nbsp;<%=a.research_method2 %></td>
        
        <td>|<%=a.participant %>&nbsp;&nbsp;<%=a.participant1 %>&nbsp;&nbsp;<%=a.participant2 %></td>
        
        <td>|<%=a.min_year %>&nbsp;&nbsp;<%=a.min_year1 %>&nbsp;&nbsp;<%=a.min_year2 %></td>
        
        <td>|<%=a.max_year %>&nbsp;&nbsp;<%=a.max_year1 %>&nbsp;&nbsp;<%=a.max_year2 %></td>
      
       
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<ul class="pager">
    <li><%= link_to 'Back',new_sousuo1_path%></li></ul>