

     <script>
  $(document).ready(function(){
    
     $(".table1").hide();
      $(".table2").hide();
        $(".buttonhide1").hide();
        $(".buttonhide").hide();
        $(".buttonshow1").hide();
         $(".buttonhide2").hide();
        $(".buttonshow2").hide();
    $(".buttonshow").click(function(){
        $(".table1").show();
         $(".buttonhide").show();
         $(".buttonhide1").show();
        $(".buttonshow1").show();
    });
     $(".buttonhide").click(function(){
        $(".table1").hide();
        $(".table2").hide();
        $(".buttonhide").hide();
         $(".buttonhide1").hide();
        $(".buttonshow1").hide();
        $(".buttonhide2").hide();
        $(".buttonshow2").hide();
    });
     $(".buttonhide1").click(function(){
        $(".table2").hide();
         $(".buttonhide2").hide();
        $(".buttonshow2").hide();
         $(".buttonhide1").hide();
        
    });
    $(".buttonshow1").click(function(){
        $(".table2").show();
         $(".buttonhide2").show();
         $(".buttonhide1").show();
        $(".buttonshow2").show();
         
        
    });
    
    $(".buttonhide2").click(function(){
        $(".table2").hide();
         $(".buttonhide2").hide();
          $(".buttonhide1").hide();
         $(".buttonshow2").hide();
    });
});
</script>

<h1>Search Serler</h1>
    <%=form_for @sousuo1 do |s| %>
    <table>
        <tr><td>Title:</td><td><%= s.text_field :title,class:"form-control"%></td>
        <td>Authors:</td><td><%= s.text_field :authors,class:"form-control"%></td></tr>
        </tr>
        <tr><td>Publish year</td><td>From<%=s.text_field :min_year, class:"form-control int",type:"date" %></td><td></td><td>
        To<%=s.text_field :max_year,class:"form-control int",type:"date" %></td> </tr>
         <tr><td>Paper Status:</td><td><%= s.select:status,
        options_for_select(@status),:include_blank =>true, class:"form-control"%>
        </td><td><%= s.check_box :notincludestatus %><span>&nbsp;Tick If Not Include</span>
        </td>
         <td>Research Metrix:</td><td><%= s.select:metrix,
        options_for_select(@metrix),:include_blank =>true, class:"form-control"%>
        </td><td><%= s.check_box :notincludemetrix %><span>&nbsp;Tick If Not Include</span>
        </td></tr>
        <tr><td>Research method:</td><td><%= s.select:research_method,
        options_for_select(@research_method),:include_blank =>true, class:"form-control"%>
        </td><td><%= s.check_box :notincludemethod %><span>&nbsp;Tick If Not Include</span>
        </td><td>Participant:</td><td><%= s.select:participant,
        options_for_select(@participant),:include_blank =>true, class:"form-control"%>
        </td><td><%= s.check_box :notincludeparticipant %><span>&nbsp;Tick If Not Include</span>
        </td></tr>
        
           
            </table>
   
       
       <table class="table1" style="margin-top:5%;">
          
        <tr><td>Title:</td><td><%= s.text_field :title1,class:"form-control"%></td>
        <td>Authors:</td><td><%= s.text_field :authors1,class:"form-control"%></td></tr>
        </tr>
        <tr><td>Publish year</td><td>From<%=s.text_field :min_year1, class:"form-control int",type:"date" %></td><td></td><td>
        To<%=s.text_field :max_year1,class:"form-control int",type:"date" %></td> </tr>
         <tr><td>Paper Status:</td><td><%= s.select:status1,
        options_for_select(@status),:include_blank =>true, class:"form-control"%>
        </td><td><%= s.check_box :notincludestatus1 %><span>&nbsp;Tick If Not Include</span>
        </td>
         <td>Research Metrix:</td><td><%= s.select:metrix1,
        options_for_select(@metrix),:include_blank =>true, class:"form-control"%>
        </td><td><%= s.check_box :notincludemetrix1 %><span>&nbsp;Tick If Not Include</span>
        </td></tr>
        <tr><td>Research method:</td><td><%= s.select:research_method1,
        options_for_select(@research_method),:include_blank =>true, class:"form-control"%>
        </td><td><%= s.check_box :notincludemethod1 %><span>&nbsp;Tick If Not Include</span>
        </td><td>Participant:</td><td><%= s.select:participant1,
        options_for_select(@participant),:include_blank =>true, class:"form-control"%>
        </td><td><%= s.check_box :notincludeparticipant1 %><span>&nbsp;Tick If Not Include</span>
        </td></tr>
        
           
            </table>
               
            <table class="table2" style="margin-top:5%;">
         
        <tr><td>Title:</td><td><%= s.text_field :title2,class:"form-control"%></td>
        <td>Authors:</td><td><%= s.text_field :authors2,class:"form-control"%></td></tr>
        
        <tr><td>Publish year</td><td>From<%=s.text_field :min_year2, class:"form-control int",type:"date" %></td><td></td><td>
        To<%=s.text_field :max_year2,class:"form-control int",type:"date" %></td> </tr>
         <tr><td>Paper Status:</td><td><%= s.select:status2,
        options_for_select(@status),:include_blank =>true, class:"form-control"%>
        </td><td><%= s.check_box :notincludestatus2 %><span>&nbsp;Tick If Not Include</span>
        </td>
         <td>Research Metrix:</td><td><%= s.select:metrix2,
        options_for_select(@metrix),:include_blank =>true, class:"form-control"%>
        </td><td><%= s.check_box :notincludemetrix2 %><span>&nbsp;Tick If Not Include</span>
        </td></tr>
        <tr><td>Research method:</td><td><%= s.select:research_method2,
        options_for_select(@research_method),:include_blank =>true, class:"form-control"%>
        </td><td><%= s.check_box :notincludemethods2 %><span>&nbsp;Tick If Not Include</span>
        </td><td>Participant:</td><td><%= s.select:participant2,
        options_for_select(@participant),:include_blank =>true, class:"form-control"%>
        </td><td><%= s.check_box :notincludeparticipant2 %><span>&nbsp;Tick If Not Include</span>
        </td></tr>
       </table>
       
       <div style="margin-top:30px;margin-left:35%">
        <%=s.submit "search", class:"btn btn-success"%>
        </div>
        
       
        
      
        <%end%>
        
        
        <div style="position:absolute;left:13%;top:50%">
        <button class="btn-primary buttonshow"> <span class="glyphicon glyphicon-menu-down"></span></button>
       <button class="btn-primary buttonhide"> <span class="glyphicon glyphicon-menu-up "></span></button>
       </div>
        <div style="position:absolute;left:13%;top:82%">
        <button class="btn-primary buttonshow1"> <span class="glyphicon glyphicon-menu-down"></span></button>
       <button class="btn-primary buttonhide1"> <span class="glyphicon glyphicon-menu-up "></span></button>
       </div>
       <div style="position:absolute;left:13%;top:114%">
        <button class="btn-primary buttonshow2"> <span class="glyphicon glyphicon-menu-down"></span></button>
       <button class="btn-primary buttonhide2"> <span class="glyphicon glyphicon-menu-up "></span></button>
       </div>
       
        <ul class="pager" style="position:absolute;margin-left:30%">
        
        <li><%= link_to'Back',books_path%></li>
         
        </ul>
       <!--sadsa-->
       
