<h1>Search Result</h1>

<%if @sousuo1.sousuo1_books.empty? %>
<div class="alert-danger" >
<span style="padding-left:40%;margin-top:20px;font-size:30px">no result!!!</span>
</div>
<% else %>


<br>
 <button class="columnbutton btn btn-primary " style="width:290px"><span>Toggle Columns </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-arrow-down spanarrow"></span></button>
 
<table class="columntable"style="border:2px gray solid;margin-left:35.4%;margin-top:-3%;z-index:1;">
  <tr><td><label class="checkbox-inline">
      <input type="checkbox" class="title" checked="checked">Title
    </label></td><td>
  <label class="checkbox-inline">
      <input type="checkbox" class="Username" checked="checked">Username
    </label></td>
    </tr><tr><td>
    <label class="checkbox-inline">
      <input type="checkbox" class="Submitted_date" checked="checked">Submitted date
    </label></td>
    <td>
    <label class="checkbox-inline">
      <input type="checkbox" class="Research_method" checked="checked">Research method
    </label></td></tr>
    <tr>
    <td> <label class="checkbox-inline">
      <input type="checkbox" class="Paper_status" checked="checked">Paper status
    </label></td>
    <td>
    <label class="checkbox-inline">
      <input type="checkbox" class="Participant" checked="checked">Participant
    </label></td>
    </tr>
    
   <tr><td>
        <label class="checkbox-inline">
      <input type="checkbox" class="Author" checked="checked">Authors
    </label></td><td>
        <label class="checkbox-inline">
      <input type="checkbox" class="Journal" checked="checked">Journal
    </label></td></tr><tr><td>
        <label class="checkbox-inline">
      <input type="checkbox" class="Publish_year" checked="checked">Publish year
    </label></td><td><label class="checkbox-inline">
      <input type="checkbox" class="Publish_volume" checked="checked">Publish volume
    </label>
    </td></tr>
    
        <tr><td>
        <label class="checkbox-inline">
      <input type="checkbox" class="Publish_month" checked="checked">Publish month
    </label>
    </td><td>
        <label class="checkbox-inline">
      <input type="checkbox" class="Credibility_rate" checked="checked">Credibility rate
    </label></td></tr><tr>
      <td>
        <label class="checkbox-inline">
      <input type="checkbox" class="Research_metrix" checked="checked">Research metrix
    </label></td><td>
    <label class="checkbox-inline">
      <input type="checkbox" class="Research_aim" checked="checked">Research aim
    </label></td></tr>
    
    </table>


 <table  class="table table-striped pretty">
  <thead>
    <tr>
      <th class="title1">Title</th>
      <th class="Username1">Username</th>
      <th class="Submitted_date1">Submitted Date</th>
       <th class="Research_method1">Research Method</th>
      <th class="Paper_status1">Paper Status</th>
     
      <th class="Authors1">Authors</th>
      
      <th class="Journal1">Journal</th>
      <th class="Publish_year1">Publish Year </th>
      <th class="Publish_volume1">Publish Volume  </th>
   
      <th class="Publish_month1">Publish Month</th>
      <th class="Credibility_rate1">Credibility Rate  </th>
      <th class="Research_metrix1">Research Metrix  </th>
      <th class="Research_aim1">Research Aim </th>
     
      <th class="Participant1">Participant </th>
        
    
    </tr>
  </thead>

  <tbody>
   <tbody>
    <%  @sousuo1.sousuo1_books.each do |book| %>
      <tr>
        <td class="title1"><%= book.title %></td>
        <td class="Username1"><%= book.username %></td>
        <td class="Submitted_date1"><%= book.submitted_date %></td>
         <td class="Research_method1"><%= book.research_method %></td>
        <td class="Paper_status1"><%= book.paper_status %></td>
       
        <td class="Author1"><%= book.authors %></td>
        
        <td class="Journal1"><%= book.journal %></td>
        <td class="Publish_year1"><%= book.publish_year %></td>
        <td class="Publish_volume1"><%= book.publish_volume %></td>
        
        <td class="Publish_month1"><%= book.publish_month %></td>
        <td class="Credibility_rate1"><%= book.credibility_rate %></td>
        <td class="Research_metrix1"><%= book.research_metrix %></td>
        <td class="Research_aim1"><%= book.research_aim %></td>
       
        <td class="Participant1"><%= book.participant %></td>
        
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

    <ul class="pager" style="position:absolute;margin-left:0;margin-top:5%">
         <li><%= link_to'Search Query',sousuo1s_path%></li>
         </ul>
    <ul class="pager">
    <li><%= link_to 'Back',new_sousuo1_path%></li></ul>
    
    <script>
  $(document).ready(function(){
      
    $(".title").click(function(){
        $(".title1").toggle();
    });
      $(".Username").click(function(){
        $(".Username1").toggle();
    });
    $(".Submitted_date").click(function(){
        $(".Submitted_date1").toggle();
    });
    $(".Paper_status").click(function(){
        $(".Paper_status1").toggle();
    });
   
    $(".Author").click(function(){
        $(".Author1").toggle();
    });
    $(".Journal").click(function(){
        $(".Journal1").toggle();
    });
    $(".Publish_year").click(function(){
        $(".Publish_year1").toggle();
    });
    $(".Publish_volume").click(function(){
        $(".Publish_volume1").toggle();
    });
    
     $(".Publish_month").click(function(){
        $(".Publish_month1").toggle();
    });
     $(".Credibility_rate").click(function(){
        $(".Credibility_rate1").toggle();
    });
     $(".Research_metrix").click(function(){
        $(".Research_metrix1").toggle();
    });
     $(".Research_aim").click(function(){
        $(".Research_aim1").toggle();
    });
     $(".Research_method").click(function(){
        $(".Research_method1").toggle();
    });
     $(".Research_aim").click(function(){
        $(".Research_aim1").toggle();
    });
     $(".Participant").click(function(){
        $(".Participant1").toggle();
    });
    
     var flag = false;
    $('.columnbutton').click(function(){
         if( flag == false){
       $('.columnbutton').empty();
       $('.columnbutton').append("<span>Toggle Columns </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class='glyphicon glyphicon-arrow-left'></span>");
       flag = true;
    }
    else{
        $('.columnbutton').empty();
       $('.columnbutton').append("<span>Toggle Columns </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class='glyphicon glyphicon-arrow-down'></span>");
       flag = false;
    }
  $('.columntable').toggle();
});
});
</script>