<p id="notice"><%= notice %></p>
<table>
  <tr><td  style="width:40%">
<h1>Search Serler</h1>
<%= form_tag books_path, :method => 'get' do %>
  <%= text_field_tag :search,params[:search], class:"form-control" %>
  
  <%= submit_tag"Search", class:"btn btn-success searchbox"  %>
  
<% end %>

<ul class="pager">
  <li>
<%=link_to "Advanced search",new_sousuo1_path %></li></ul>
</td>
<td><table>
  <tr><td><label class="checkbox-inline">
      <input type="checkbox" class="title" checked="checked">Title
    </label></td><td>
  <label class="checkbox-inline">
      <input type="checkbox" class="Username" checked="checked">Username
    </label></td><td>
    <label class="checkbox-inline">
      <input type="checkbox" class="Submitted_date" checked="checked">Submitted date
    </label></td>
    <td>
    <label class="checkbox-inline">
      <input type="checkbox" class="Research_method" checked="checked">Research method
    </label></td></tr>
   <tr><td> <label class="checkbox-inline">
      <input type="checkbox" class="Paper_status" checked="checked">Paper status
    </label></td><td>
        <label class="checkbox-inline">
      <input type="checkbox" class="Author" checked="checked">Authors
    </label></td><td>
        <label class="checkbox-inline">
      <input type="checkbox" class="Journal" checked="checked">Journal
    </label></td><td>
        <label class="checkbox-inline">
      <input type="checkbox" class="Publish_year" checked="checked">Publish year
    </label></td></tr>
        <tr><td><label class="checkbox-inline">
      <input type="checkbox" class="Publish_volume" checked="checked">Publish volume
    </label>
    </td><td>
        <label class="checkbox-inline">
      <input type="checkbox" class="Publish_pages" checked="checked">Publish pages
    </label>
    </td><td>
        <label class="checkbox-inline">
      <input type="checkbox" class="Publish_month" checked="checked">Publish month
    </label>
    </td><td>
        <label class="checkbox-inline">
      <input type="checkbox" class="Credibility_rate" checked="checked">Credibility rate
    </label><td></tr>
    <tr><td>
        <label class="checkbox-inline">
      <input type="checkbox" class="Research_metrix" checked="checked">Research metrix
    </label></td><td>
    <label class="checkbox-inline">
      <input type="checkbox" class="Research_aim" checked="checked">Research aim
    </label></td>
    <td>
    <label class="checkbox-inline">
      <input type="checkbox" class="Participant" checked="checked">Participant
    </label></td>
    </tr>
    </table>
</td>
<table  class="table table-striped pretty">
  <thead>
    <tr>
      <th class="title1"><%= sortable "title" %></th>
      <th class="Username1"><%= sortable "Username" %></th>
      <th class="Submitted_date1"><%= sortable "submitted_date" %></th>
       <th class="Research_method1"><%= sortable "research_method" %></th>
      <th class="Paper_status1"><%= sortable "paper_status" %> </th>
     
      <th class="Authors1"><%= sortable "authors" %></th>
      
      <th class="Journal1"><%= sortable "journal" %></th>
      <th class="Publish_year1"><%= sortable "publish_year" %> </th>
      <th class="Publish_volume1"><%= sortable "publish_volume" %>  </th>
      <th class="Publish_pages1"><%= sortable "publish_pages" %> </th>
      <th class="Publish_month1"><%= sortable "publish_month" %> </th>
      <th class="Credibility_rate1"><%= sortable "credibility_rate" %>  </th>
      <th class="Research_metrix1"><%= sortable "research_metrix" %>  </th>
      <th class="Research_aim1"><%= sortable "research_aim" %> </th>
     
      <th class="Participant1"><%= sortable "participant" %> </th>
        <th>Show</th>
      <th colspan="3"></th>
    
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td class="title1"><%= book.title %></td>
        <td class="Username1"><%= book.username %></td>
        <td class="Submitted_date1"><%= book.submitted_date %></td>
         <td class="Research_method1"><%= book.research_method %></td>
        <td class="Paper_status1"><%= book.paper_status %></td>
       
        <td class="Author1"><%= book.authors %></td>
        
        <td class="Journal1"><%= book.journal %></td>
        <td class="Publish_year1"><%= book.publish_year %></td>
        <td class="Publish_volume1"><%= book.publish_volume %></td>
        <td class="Publish_pages1"><%= book.publish_pages %></td>
        <td class="Publish_month1"><%= book.publish_month %></td>
        <td class="Credibility_rate1"><%= book.credibility_rate %></td>
        <td class="Research_metrix1"><%= book.research_metrix %></td>
        <td class="Research_aim1"><%= book.research_aim %></td>
       
        <td class="Participant1"><%= book.participant %></td>
        <td><%= link_to 'Show', book %>
        <%= link_to 'Edit', edit_book_path(book) %>
        <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
<script>
  $(document).ready(function(){
    $(".title").click(function(){
        $(".title1").toggle();
    });
      $(".Username").click(function(){
        $(".Username1").toggle();
    });
    $(".Submitted_date").click(function(){
        $(".Submitted_date1").toggle();
    });
    $(".Paper_status").click(function(){
        $(".Paper_status1").toggle();
    });
   
    $(".Author").click(function(){
        $(".Author1").toggle();
    });
    $(".Journal").click(function(){
        $(".Journal1").toggle();
    });
    $(".Publish_year").click(function(){
        $(".Publish_year1").toggle();
    });
    $(".Publish_volume").click(function(){
        $(".Publish_volume1").toggle();
    });
     $(".Publish_pages").click(function(){
        $(".Publish_pages1").toggle();
    });
     $(".Publish_month").click(function(){
        $(".Publish_month1").toggle();
    });
     $(".Credibility_rate").click(function(){
        $(".Credibility_rate1").toggle();
    });
     $(".Research_metrix").click(function(){
        $(".Research_metrix1").toggle();
    });
     $(".Research_aim").click(function(){
        $(".Research_aim1").toggle();
    });
     $(".Research_method").click(function(){
        $(".Research_method1").toggle();
    });
     $(".Research_aim").click(function(){
        $(".Research_aim1").toggle();
    });
     $(".Participant").click(function(){
        $(".Participant1").toggle();
    });
    
});
</script>
